.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  text-decoration: none solid rgb(255, 255, 255);
  font-weight: 700;
  margin: 36px 861px 0 24px;
}

.u-section-1 .u-form-1 {
  height: 278px;
  margin: 36px 268px 60px 17px;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-label-1 {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-label-2 {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 685px;
    margin-left: 0;
    width: 841px;
    font-family: "Courier New", monospace;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
    margin-right: 85px;
    width: 855px;
  }

  .u-section-1 .u-label-1 {
    font-family: "Courier New", monospace;
  }

  .u-section-1 .u-label-2 {
    font-family: "Courier New", monospace;
  }

  .u-section-1 .u-btn-1 {
    font-family: "Courier New", monospace;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 465px;
    width: 720px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 285px;
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 85px;
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}